# IDE/OS folders
.idea/
.DS_Store
tags/
.vscode
bannerads

# Error logs and cache directories
error_log
cache

# Untracked prod/dev files
wp-config.php

# Content
wp-content/plugins/
wp-content/uploads/
wp-content/wflogs/
wp-content/upgrade/

# WP CORE
wp-admin/*
wp-includes/*
index.php
license.txt
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
readme.*
wordfence-waf.php